In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#import data from Github
data =pd.read_csv('https://raw.githubusercontent.com/PacktPublishing/Data-Science-for-Marketing-Analytics-Second-Edition/master/Chapter02/Exercise2.01/sales.csv')

In [6]:
#over view data
data.head()

,Year,Product line,Product type,Product,Order method type,Retailer country,Revenue,Planned revenue,Product cost,Quantity,Unit cost,Unit price,Gross profit,Unit sale price
0,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,5819.70,6586.16,1733.2,619.0,2.8,10.64,4086.50,5.105
1,2004,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,10904.28,11363.52,2990.4,1068.0,2.8,10.64,7913.88,10.210
3,2005,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United Kingdom,27987.84,28855.68,7593.6,2712.0,2.8,10.64,20394.24,10.320
4,2006,Golf Equipment,Golf Accessories,Course Pro Golf and Tee Set,Sales visit,United States,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
# list columns in data
print(data.columns)

Index(['Year', 'Product line', 'Product type', 'Product', 'Order method type',
       'Retailer country', 'Revenue', 'Planned revenue', 'Product cost',
       'Quantity', 'Unit cost', 'Unit price', 'Gross profit',
       'Unit sale price'],
      dtype='object')

In [16]:
#find total planeed revenue by country
data.groupby('Retailer country')['Planned revenue'].sum().head()

Retailer country
Australia    15528551.26
Austria      16639182.90
Belgium      14347134.58
Brazil       17186250.76
Canada       39755474.14
Name: Planned revenue, dtype: float64

In [13]:
# arrange by most
data.groupby('Retailer country')['Planned revenue'].sum().sort_values( ascending=False).head()

Retailer country
United States     1.104916e+08
Japan             4.691096e+07
China             4.432347e+07
United Kingdom    4.081019e+07
Canada            3.975547e+07
Name: Planned revenue, dtype: float64

In [11]:
# Number of products company
data['Product line'].unique()

array(['Golf Equipment', 'Camping Equipment', 'Outdoor Protection',
       'Mountaineering Equipment'], dtype=object)

In [15]:
#sales per Product line
data.groupby('Product line')['Revenue'].sum().sort_values( ascending=False)

Product line
Camping Equipment           4.860065e+08
Mountaineering Equipment    5.254793e+07
Outdoor Protection          4.713449e+07
Golf Equipment              4.205702e+07
Name: Revenue, dtype: float64

In [ ]:
#say we need to find